{% extends 'base.html' %}

{% block title %}Not Found{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-color:#6f5499">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>您访问的页面不存在</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}