{% extends 'base.html' %}

{% block title %}Home - CurveLearning{% endblock %}

{% block content %}
{% load static %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color:#6f5499">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{quote.content}}</h1>
                    <span class="subheading">By {{quote.author}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in posts %}
            <div class="post-preview">
                <a href="post/{{post.slug}}.html">
                    <h2 class="post-title">{{post.title}}</h2>
                </a>
                <p class="post-meta">Posted on {{post.created|date:"Y-m-d H:i:s"}}</p>
            </div>
            {% endfor %}

            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}