{% extends 'base.html' %}

{% block title %}留言{% endblock %}

{% block content %}
{% load static %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color:#6f5499">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>留言</h1>
                    <span>如有任何建议或疑问，请在这里留言~</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<!-- social comment -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- UY BEGIN -->
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2006786"></script>
            <!-- UY END -->
        </div>
    </div>
</div>
{% endblock %}