{% extends 'base.html' %}

{% block title %}首页 - 学习小站{% endblock %}

{% block content %}
{% load static %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color:#6f5499">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{quote.content}}</h1>
                    <span class="subheading">By {{quote.author}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% load endless %}
            {% paginate posts %}
            {% for post in posts %}
            <div class="post-preview">
                <a href="/post/{{post.slug}}.html">
                    <h2 class="post-title">{{post.title}}</h2>
                </a>
                <p class="post-meta">
                    <span class="glyphicon glyphicon-calendar"></span>{{post.created|date:"Y-m-d H:i:s"}}
                    {% for tag in post.tags.all %}
                    <span class="glyphicon glyphicon-tag"></span>
                    <a href="/tag/{{tag.slug}}/">{{tag.name}}</a>
                    {% endfor %}
                </p>
            </div>
            {% endfor %}

            <hr>
            <!-- Pager -->
            {% get_pages %}
            <ul class="pager">
                <li class="previous">{{pages.previous}}</li>
                <li class="next">{{pages.next}}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}