{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block content %}
{% load static %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://7xlh45.com1.z0.glb.clouddn.com/image/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{quote.content}}</h1>
                    <span class="subheading">By {{quote.author}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% load endless %}
            {% paginate posts %}
            {% for post in posts %}
            <div class="post-preview">
                <a href="{{post.get_absolute_url}}">
                    <h2 class="post-title">{{post.title}}</h2>
                </a>
                <p class="post-meta">
                    {{post.author}} 发表于 {{post.created|date:"Y-m-d H:i:s"}}
                </p>
            </div>
            {% endfor %}

            <!-- Pager -->
            {% get_pages %}
            {% if pages.paginated %}
            <hr>
            <ul class="pager">
                <li class="previous">{{pages.previous}}</li>
                <li><span style="border:none;">{{pages.current.number}}/{{pages|length}}</span></li>
                <li class="next">{{pages.next}}</li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}