{% extends 'base.html' %}

{% block title %}{{post.title}} - CurveLearning{% endblock %}

{% block content %}
    {% load static %}
    <!-- github style syntax highlight -->
    <link href="{% static 'css/github.css' %}" rel="stylesheet">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-color:#6f5499">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{post.title}}</h1>
                        <span class="meta">Posted on {{post.created|date:"Y-m-d H:i:s"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <!--<h2 class="section-heading">The Final Frontier</h2>-->
                    <!--<blockquote>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>-->
                    <!--<a href="#">-->
                        <!--<img class="img-responsive" src="{% static 'img/post-sample-image.jpg' %}" alt="">-->
                    <!--</a>-->
                    <!--<span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>-->
                    {{md_content|safe}}
                </div>
            </div>
        </div>
    </article>

    <!-- social comment -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- UY BEGIN -->
                <div id="uyan_frame"></div>
                <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2006786"></script>
                <!-- UY END -->
            </div>
        </div>
    </div>

    <!-- social share -->
    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r3.gif&amp;uid=2006786" charset="utf-8"></script>
    <!-- JiaThis Button END -->
{% endblock %}
