{% extends 'base.html' %}

{% block title %}{{ post.title }} - CurveLearning{% endblock %}

{% block nav %}
<ul class='nav navbar-nav'>
    <li><a href="{% url 'blog.views.post_list' %}">首页</a></li>
</ul>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <hr>
        {{ md_content | safe }}
        <hr>
        <p><small>
        {% for tag in post.tags.all %}
        <span class="label label-default">{{tag.name}}</span>
        {% endfor %}
        创建于{{post.created}}, 最后修改{{post.modified}}
        </small></p>
    </div>
{% endblock %}