{% extends 'base.html' %}

{% block title %}{{current_post.title}} - 学习小站{% endblock %}

{% block content %}
    {% load static %}
    <!-- github style syntax highlight -->
    <link href="{% static 'css/github.css' %}" rel="stylesheet">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-color:#6f5499">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{current_post.title}}</h1>
                        <span class="glyphicon glyphicon-calendar"></span>{{current_post.created|date:"Y-m-d H:i:s"}}
                        {% for tag in current_post.tags.all %}
                        <span class="glyphicon glyphicon-tag"></span>
                        <a href="/tag/{{tag.slug}}/">{{tag.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <!--<h2 class="section-heading">The Final Frontier</h2>-->
                    <!--<blockquote>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>-->
                    <!--<a href="#">-->
                        <!--<img class="img-responsive" src="{% static 'img/post-sample-image.jpg' %}" alt="">-->
                    <!--</a>-->
                    <!--<span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>-->
                    {{md_content|safe}}
                </div>
            </div>
        </div>
    </article>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <ul class="pager">
                    {% if prev_post %}
                    <li class="previous"><a href="{{prev_post.slug}}.html">&larr; {{prev_post.title}}</a></li>
                    {% endif %}
                    {% if next_post %}
                    <li class="next"><a href="{{next_post.slug}}.html">{{next_post.title}} &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- social comment -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <!-- UY BEGIN -->
                <div id="uyan_frame"></div>
                <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2006786"></script>
                <!-- UY END -->
            </div>
        </div>
    </div>

    <!-- social share -->
    <script>
        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"150"}};
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
{% endblock %}
