{% extends 'base.html' %}

{% block title %}{{current_tag.name}}{% endblock %}

{% block content %}
{% load static %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://7xlh45.com1.z0.glb.clouddn.com/image/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{current_tag.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in posts %}
            <div class="post-preview">
                <a href="{{post.get_absolute_url}}">
                    <h2 class="post-title">{{post.title}}</h2>
                </a>
                <p class="post-meta">
                    {{post.author}} 发表于 {{post.created|date:"Y-m-d H:i:s"}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}