{% extends 'base.html' %}

{% block title %}{{current_tag.name}} - 学习小站{% endblock %}

{% block content %}
{% load static %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color:#6f5499">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{current_tag.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in posts %}
            <div class="post-preview">
                <a href="/post/{{post.slug}}.html">
                    <h2 class="post-title">{{post.title}}</h2>
                </a>
                <p class="post-meta">
                    <span class="glyphicon glyphicon-calendar"></span>{{post.created|date:"Y-m-d H:i:s"}}
                    <span class="glyphicon glyphicon-user"></span> {{post.author}}
                    {% for tag in post.tags.all %}
                    <span class="glyphicon glyphicon-tag"></span>
                    <a href="/tag/{{tag.slug}}/">{{tag.name}}</a>
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}