{% extends 'base.html' %}

{% block title %}标签{% endblock %}

{% block content %}
{% load static %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://7xlh45.com1.z0.glb.clouddn.com/image/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>标签</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for tag in tags %}
            <a href="{{tag.get_absolute_url}}" class="btn btn-default">
                {{tag.name}} <span class="badge">{{tag.related_posts.count}}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}